@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'MedievalSharp', cursive !important;
    background: url('bg_accueil.jpg');
    background-size: cover;
    letter-spacing: 1px;
}

.volume_icon {
    width: 96px;
    height: 96px;
    margin-top: 15px;
    border-radius: 50%;
    z-index: 1000;
}

.status-volume {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    cursor: pointer;
    display: none;
}


#options {
    position: absolute;
    z-index: 900;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    top: 0;
    left: 0;
}

#profil-menu {
    display: none;
}

.lg {
    width: 648px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    margin: 1rem 0;
}

.md {
    width: 315px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}


.lg h1,
.md h1 {
    margin: 0;
    color: white;
}

.w-100 {
    width: 100%;
}

.menu-md {
    margin: 0 0 1rem 0;
}

.bg {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.left {
    margin-right: 0.5rem;
}

.right {
    margin-left: 0.5rem;
}

.bg:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#options-menu {
    display: none;
}

#audio-menu {
    display: none;
}

.invisible {
    opacity: 0;
}

label {
    color: white;
    margin-right: 1rem;
    font-size: 22px;
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}

#profil {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    color: white;
}

#profil-menu {
    display: none;
}

#avatar-profil {
    width: 128px;
    border-radius: 15px;
}

.info {
    margin-left: 13px;
}

.color {
    color: #e4aa52 !important;
}

.classe:first-letter {
    text-transform: uppercase;
}

.username {
    font-size: 42px;
}

.msg {
    height: auto;
    cursor: auto;
    pointer-events: none;
    padding: 15px 0;
}

.container_volume_icon img {
    margin-left: 15px;
}

.container_volume_icon h1 {
    margin-right: 15px !important;
}

.container {
    width: 750px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.text-align {
    text-align: center;
}

#pnj {
    z-index: 900;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;

    h2,
    h4 {
        margin: 0;
        margin: 5px;
    }
}

.text {
    width: calc(100% - 400px - 3rem);
    background: #fff;
    min-height: 200px;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: 3px solid #e4aa52;
}

#pnj-narratif {
    width: 400px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: 3px solid #e4aa52;
}

.force {
    color: #ff3c00;
}

.contain-button {
    margin-top: 10px;
}

.medieval-button {
    background-color: #795649;
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.medieval-button:hover {
    background-color: #5a3927;
}

.error-message {
    color: #b22222;
    background-color: #fff4f4;
    border: 1px solid #b22222;
    padding: 10px;
    margin: 20px 5px;
    border-radius: 8px;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 0 10px rgba(178, 34, 34, 0.2);
}

.full-screen-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: black;
    animation: backgroundFade 5s ease forwards;
}

@keyframes backgroundFade {

    0%,
    20% {
        opacity: 1;
    }

    80%,
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


.line {
    position: absolute;
    height: 3px;
    background: white;
}

/* Animation de base */
@keyframes lineMove {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.line1 {
    width: 100%;
    top: 50%;
    animation: lineMove 2s linear infinite;
}

.line2 {
    width: 10%;
    top: 20%;
    left: 10%;
    animation: lineMove 3s linear infinite reverse;
}

.line3 {
    width: 5%;
    top: 30%;
    left: 60%;
    animation: lineMove 1.5s linear infinite;
}

.line4 {
    width: 15%;
    top: 85%;
    left: 70%;
    animation: lineMove 4s linear infinite;
}

.line5 {
    width: 5%;
    top: 70%;
    left: 30%;
    animation: lineMove 2.5s linear infinite reverse;
}

.dialogue-box {
    display: block;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 10px;
    border: 3px solid #e4aa52;
    padding: 15px 30px;
    width: 99%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 9998;
    color: black;
    text-align: center;
    font-size: 1.2em;
    opacity: 0;
    animation: showMessage 5.5s ease forwards;
}


@keyframes showMessage {

    0%,
    45% {
        opacity: 0;
    }

    45.1%,
    95% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.battle-scene {
    position: relative;
    width: 100%;
    height: 100vh;
}

.battle-character {
    border-radius: 10px;
    width: 400px;
    border: 4px solid #2F5F8F;
    box-shadow: 0px 4px #1B3C5D;
    background-color: #58AEDC;
    padding: 10px;
}

.ennemi-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    top: 2rem;
    right: 2rem;
    width: 400px;
}

.info-ennemi {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.nom-ennemi {
    font-weight: bold;
    margin-bottom: 5px;
}

.joueur-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 400px;
}

.info-joueur, .info-ennemi {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border: 3px solid #2F5F8F;
    color: #0055A4;
    font-family: 'DotGothic16', sans-serif;
}

.nom-joueur, .nom-ennemi {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
}

.pv-actuel-joueur, .pv-actuel-ennemi {
    text-align: right;
    color: #000;
    font-size: 1.2em;
    margin-left: 10px;
    font-weight: bold;
}

.barre-de-vie {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
    margin: 2px 0;
    background-color: #ddd;
    border: 2px solid #000;
    border-radius: 0;
    position: relative;
    width: 300px;
}

.texte-pv{
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 0 4px;
    margin-right: -4px;
}

.conteneur-barre {
    flex-grow: 1;
    border-radius: 0;
    overflow: hidden;
}

.barre {
    height: 12px;
    transition: width 3s ease;
}

.pv-actuel {
    text-align: right;
}

.barre.verte {
    background-color: #00C000;
}

.barre.orange {
    background-color: #FF8000;
}

.barre.rouge {
    background-color: #F00000;
}

#interface-combat {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

#interface-combat button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#interface-combat button:hover {
    background-color: #388e3c;
}

.container-capacites {
    position: absolute;
    bottom: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
}

.bouton-medieval {
    background-color: #58AEDC;
    color: #FFFFFF;
    border: 4px solid #2F5F8F;
    font-family: 'DotGothic16', sans-serif;
    padding: 15px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 10px;
    box-shadow: 0px 4px #1B3C5D;
    margin: 5px;
    font-size: 18px;
    width: 200px;
}

.bouton-medieval:hover {
    background-color: #3B7EA1;
    transform: translateY(-2px);
}

.bouton-rangee {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#messageCombat {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 10px;
    border: 3px solid #e4aa52;
    padding: 15px 30px;
    width: 99%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    color: black;
    text-align: center;
    font-size: 1.2em;
    display: none;
}

.status {
    font-family: 'DotGothic16', sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 2px;
    margin: 0 2.5px;
    border-radius: 3px;
    height: min-content;
    display: none;
}

.poison {
    background-color: #A040A0;
    border: 2px solid #68007A;
    color: white;
}

.paralysie {
    background-color: #F8D030;
    border: 2px solid #C7A008;
    color: white;
}

@keyframes personnageKO {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(50px);
        opacity: 0;
    }
}

.personnage-ko {
    animation: personnageKO 1s ease forwards;
}

.boite-dialogue {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogue-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
}

.dialogue-content h2 {
    font-size: 2em;
    color: #e4aa52;
    margin-bottom: 20px;
}

.dialogue-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.dialogue-content button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
    font-size: 1em;
}

.boutonRecompenses {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
}

.case {
    width: 96px;
    height: 96px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin: 5px;
    background-size: cover;
    position: relative;
}

.maj:first-letter {
    text-transform: uppercase;
}

.title {
    font-family: 'MedievalSharp', cursive;
    color: #d3d3d3;

    h5 {
        margin: 0;
    }

    h6 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    .rarete {
        margin: 5px 0;
    }

    .data {
        margin-top: 5px;
    }
}

.commun {
    color: #fff;
}

.atypique {
    color: #1eff00;
}

.rare {
    color: #0070dd;
}

.épique {
    color: #a335ee;
}

.légendaire {
    color: #ff8000;
}

.pv {
    color: #1eff00;
}

.force {
    color: #ff3c00;
}

.exp {
    color: rgb(175, 241, 100);
}

.vitesse {
    color: #e4c952;
}

.valeur {
    color: rgb(82, 228, 155);
}

.none {
    color: #d3d3d3;
}

.infoData {
    color: white !important;
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    margin-right: 2.5px !important;
    cursor: default !important;
}

.tooltip-inner {
    min-width: 250px;
}

#recompenses{
    margin: 10px 0;
    width: 100%;
    justify-content: center;
}