// Place all the styles related to the Jeu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'MedievalSharp', cursive;
}

#main {
    position: relative;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    .contenu {
        animation: fadeIn 5s;
        -webkit-animation: fadeIn 5s;
        -moz-animation: fadeIn 5s;
        -o-animation: fadeIn 5s;
        -ms-animation: fadeIn 5s;
    }
}

.fadeout{
    animation: fadeOut 5s;
    -webkit-animation: fadeOut 5s;
    -moz-animation: fadeOut 5s;
    -o-animation: fadeOut 5s;
    -ms-animation: fadeOut 5s;
}

#main:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url('bg-cinematic.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.main {
    position: relative;

    h1 {
        margin-top: 0;
    }
}

.container {
    width: 650px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.text-align{
    text-align: center;
}

#logo{
    width: 700px;
}

.volume_icon {
    width: 96px;
    height: 96px;
    margin-top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.status-volume {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}

#options {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    display: none;
}

#profil-menu{
    display: none;
}

.lg {
    width: 648px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    margin: 1rem 0;
}

.md {
    width: 315px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}


.lg h1,
.md h1 {
    margin: 0;
    color: white;
}

.w-100 {
    width: 100%;
}

.menu-md {
    margin: 0 0 1rem 0;
}

.bg {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.left {
    margin-right: 0.5rem;
}

.right {
    margin-left: 0.5rem;
}

.bg:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#options-menu {
    display: none;
}

#audio-menu {
    display: none;
}

.invisible {
    opacity: 0;
}

label {
    color: white;
    margin-right: 1rem;
    font-size: 22px;
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}

#submit {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-size: 34px;
    color: white;
    font-family: 'MedievalSharp', cursive;
    cursor: pointer;
}

#profil {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    color: white;
}

#profil-menu {
    display: none;
}

#avatar-profil {
    width: 128px;
    border-radius: 15px;
}

.info {
    margin-left: 13px;
}

.color {
    color: #e4aa52 !important;
}

.classe:first-letter {
    text-transform: uppercase;
}

.username {
    font-size: 42px;
}

#alert {
    text-align: center;
    color: white;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    display: none;
}

.attention {
    color: #ff3333;
}

.button button {
    padding: 15px;
    font-family: 'MedievalSharp', cursive;
    background: none;
    border-radius: 15px;
    font-size: 34px;
    margin-bottom: 10px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.20);
}

.button button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.button-container {
    width: 98%;
}

.msg {
    height: auto;
    cursor: auto;
    pointer-events: none;
    padding: 15px 0;
}

.container_volume_icon img {
    margin-left: 15px;
}

.container_volume_icon h1 {
    margin-right: 15px !important;
}