// Place all the styles related to the Jeu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'MedievalSharp', cursive !important;
    background-image: url('bg-cinematic.jpg');
    background-size: cover;
}

.container {
    width: 750px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.text-align {
    text-align: center;
}

.volume_icon {
    width: 96px;
    height: 96px;
    margin-top: 15px;
    border-radius: 50%;
    z-index: 1000;
}

.status-volume {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}

#sac-a-dos {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 141px;
    margin-top: 15px;
}

#pnj {
    z-index: 900;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    position: relative;

    h2, h4{
        margin: 0;
        margin: 5px;
    }

    #dialogue2, #dialogue3, #dialogue4, #dialogue5{
        display: none;
    }

    #continue-indicator {
        position: absolute;
        bottom: -20px;
        right: 0px;
        font-size: 50px;
        color: #333;
        display: none;
        cursor: pointer;
    }
}

.text {
    width: calc(100% - 400px - 3rem);
    background: #fff;
    min-height: 140px;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: 3px solid #e4aa52;
}

#pnj-narratif {
    width: 400px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: 3px solid #e4aa52;
}

#inventaire {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
}

#contenu-inventaire {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

#header-inventaire img {
    width: 256px;
    height: 256px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin: 5px;
}

#header-inventaire div {
    margin-left: 10px;
}

.case {
    width: 64px;
    height: 64px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin: 5px;
    background-size: cover;
    position: relative;
}

.main-case {
    margin-top: 15px;
}

#options {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    top: 0;
    left: 0;
}

#profil-menu {
    display: none;
}

.lg {
    width: 648px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    margin: 1rem 0;
}

.md {
    width: 315px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}


.lg h1,
.md h1 {
    margin: 0;
    color: white;
}

.w-100 {
    width: 100%;
}

.menu-md {
    margin: 0 0 1rem 0;
}

.bg {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.left {
    margin-right: 0.5rem;
}

.right {
    margin-left: 0.5rem;
}

.bg:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#options-menu {
    display: none;
}

#audio-menu {
    display: none;
}

.invisible {
    opacity: 0;
}

label {
    color: white;
    margin-right: 1rem;
    font-size: 22px;
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}

#profil {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    color: white;
}

#profil-menu {
    display: none;
}

#avatar-profil {
    width: 128px;
    border-radius: 15px;
}

.info {
    margin-left: 13px;
}

.color {
    color: #e4aa52 !important;
}

.classe:first-letter {
    text-transform: uppercase;
}

.username {
    font-size: 42px;
}

.msg {
    height: auto;
    cursor: auto;
    pointer-events: none;
    padding: 15px 0;
}

.container_volume_icon img {
    margin-left: 15px;
}

.container_volume_icon h1 {
    margin-right: 15px !important;
}

.maj:first-letter {
    text-transform: uppercase;
}

.title {
    font-family: 'MedievalSharp', cursive;
    color: #d3d3d3;

    h5 {
        margin: 0;
    }

    h6 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    .rarete {
        margin: 5px 0;
    }

    .data {
        margin-top: 5px;
    }
}

.commun {
    color: #fff;
}

.atypique {
    color: #1eff00;
}

.rare {
    color: #0070dd;
}

.épique {
    color: #a335ee;
}

.légendaire {
    color: #ff8000;
}

.pv {
    color: #1eff00;
}

.force {
    color: #ff3c00;
}

.exp {
    color: rgb(175, 241, 100);
}

.vitesse {
    color: #e4c952;
}

.valeur {
    color: rgb(82, 228, 155);
}

.none {
    color: #d3d3d3;
}

.infoData {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    margin-right: 2.5px;
    cursor: default;
}

#inventaire {
    display: none;
}

h1 {
    font-size: 34px !important;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
}

.menuContextuel {
    background-color: black !important;
    color: white !important;
    max-width: 200px !important;

    div {
        padding: 1rem;
    }

    a {
        color: white;
    }

    a:hover {
        color: white;
    }

    input[type="submit"] {
        background: none;
        color: white;
        border: none;
    }

    input[type="submit"]:hover {
        text-decoration: underline;
    }

    input[type="number"] {
        width: 40%;
    }

    input:focus {
        outline: none;
    }
}