// Place all the styles related to the Jeu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'MedievalSharp', cursive !important;
    background-image: url('bg-cinematic.jpg');
    background-size: cover;
}

.container {
    width: 750px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center !important;
}

.align-items {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.text-align {
    text-align: center;
}

.volume_icon {
    width: 96px;
    height: 96px;
    margin-top: 15px;
    border-radius: 50%;
    z-index: 1000;
}

.status-volume {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}

#sac-a-dos {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 141px;
    margin-top: 15px;
}

#craft {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 267px;
    margin-top: 15px;
}

#icon-pnj{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    margin-top: 15px;
}

#quete{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 141px;
    margin-top: 15px;
}

#pnj {
    z-index: 900;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    position: relative;

    h2,
    h4 {
        margin: 0;
        margin: 5px;
    }

    #continue-indicator {
        position: absolute;
        bottom: -20px;
        right: 0px;
        font-size: 50px;
        color: #333;
        display: none;
        cursor: pointer;
        animation: bounce 1s infinite;
    }

}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

#pnj2 {
    display: none;
    z-index: 900;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    position: relative;

    h2,
    h4 {
        margin: 0;
        margin: 5px;
    }

    #continue-indicator2 {
        position: absolute;
        bottom: -20px;
        right: 0px;
        font-size: 50px;
        color: #333;
        display: none;
        cursor: pointer;
        animation: bounce 1s infinite;
    }
}

.text2 {
    width: calc(100% - 400px - 3rem);
    background: #fff;
    min-height: 140px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: 3px solid #e4aa52;
}

.text {
    width: calc(100% - 400px - 3rem);
    background: #fff;
    min-height: 140px;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: 3px solid #e4aa52;
}

#pnj-narratif2 {
    width: 400px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border: 3px solid #e4aa52;
    transform: scaleX(-1);
}

#pnj-narratif {
    width: 400px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: 3px solid #e4aa52;
}

#inventaire {
    position: absolute;
    z-index: 900;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
}

#etable {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 900;
    display: none;
}

#objets-craftables {
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.25);
}

#info-objets-craft {
    background: rgba(255, 255, 255, 0.25);
    margin-left: 2rem;
    padding: 1rem;
}

.craft-info {
    display: none;

    img {
        width: 64px;
        height: 64px;
    }

    a {
        color: white !important;
        font-size: 34px !important;
    }

    .link-craft {
        margin-top: 1rem;
    }
}

.craftables-section {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(255, 255, 255, 0.25);
}

.craftables-section img {
    width: 64px;
    height: 64px;
}

.objet_craftable {
    cursor: pointer;
}

.objet-craft-etabli {
    margin-bottom: 2rem;
}

#contenu-inventaire {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

#header-inventaire img {
    width: 384px;
    height: 384px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin: 5px;
}

#header-inventaire div {
    margin-left: 10px;
}

.case {
    width: 96px;
    height: 96px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin: 5px;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.main-case {
    margin-top: 15px;
}

#options {
    position: absolute;
    z-index: 900;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    top: 0;
    left: 0;
}

#profil-menu {
    display: none;
}

.lg {
    width: 648px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    margin: 1rem 0;
}

.md {
    width: 315px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}


.lg h1,
.md h1 {
    margin: 0;
    color: white;
}

.w-100 {
    width: 100%;
}

.menu-md {
    margin: 0 0 1rem 0;
}

.bg {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.left {
    margin-right: 0.5rem;
}

.right {
    margin-left: 0.5rem;
}

.bg:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#options-menu {
    display: none;
}

#audio-menu {
    display: none;
}

.profil-image{
    margin-bottom: 2rem;
}

.invisible {
    opacity: 0;
}

label {
    color: white;
    margin-right: 1rem;
    font-size: 22px;
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}

#profil {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    color: white;
}

#profil-menu {
    display: none;
}

#avatar-profil {
    width: 128px;
    border-radius: 15px;
}

.info {
    margin-left: 13px;
}

.color {
    color: #e4aa52 !important;
}

.classe:first-letter {
    text-transform: uppercase;
}

.username {
    font-size: 42px;
}

.msg {
    height: auto;
    cursor: auto;
    pointer-events: none;
    padding: 15px 0;
}

.container_volume_icon img {
    margin-left: 15px;
}

.container_volume_icon h1 {
    margin-right: 15px !important;
}

.maj:first-letter {
    text-transform: uppercase;
}

.title {
    font-family: 'MedievalSharp', cursive;
    color: #d3d3d3;

    h5 {
        margin: 0;
    }

    h6 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    .rarete {
        margin: 5px 0;
    }

    .data {
        margin-top: 5px;
    }
}

.commun {
    color: #fff;
}

.atypique {
    color: #1eff00;
}

.rare {
    color: #0070dd;
}

.épique {
    color: #a335ee;
}

.légendaire {
    color: #ff8000;
}

.pv {
    color: #1eff00;
}

.force {
    color: #ff3c00;
}

.exp {
    color: rgb(175, 241, 100);
}

.vitesse {
    color: #e4c952;
}

.valeur {
    color: rgb(82, 228, 155);
}

.none {
    color: #d3d3d3;
}

.infoData {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    margin-right: 2.5px;
    cursor: default;
}

.tooltip-inner {
    min-width: 250px;
}


#inventaire {
    display: none;

    a {
        font-size: 1.5rem;
    }

    input {
        font-size: 1.5rem;
    }
}

h1 {
    font-size: 34px !important;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
}

.menuContextuel {
    background-color: black !important;
    color: white !important;
    max-width: 200px !important;
    min-width: 200px !important;

    div {
        padding: 1rem;
    }

    button {
        background: 0;
        color: white;
        font-size: 1.5rem;
        border: 0;
    }

    button:hover {
        text-decoration: underline;
    }

    a {
        color: white;
    }

    a:hover {
        color: white;
    }

    input[type="submit"] {
        background: none;
        color: white;
        border: none;
    }

    input[type="submit"]:hover {
        text-decoration: underline;
    }

    input[type="number"] {
        width: 45%;
    }

    input:focus {
        outline: none;
    }
}

.village-intro {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    z-index: 1000;
}

.text-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    clip-path: polygon(0% 15%, 100% 15%, 100% 85%, 85% 100%, 15% 85%, 0% 100%, 15% 0%, 85% 0%);
}

.village-name {
    font-size: 3em;
    font-weight: bold;
    animation: fadeIn 2s;
    margin-top: 30px;
}

.village-description {
    font-size: 1.2em;
    margin-top: 10px;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.village-intro.fadeOut {
    animation: fadeOut 2s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.full-screen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    display: none;
}

.container {
    background: #f8f0e3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;

    .case{
        width: 48%;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fffbe6;
    border: 2px solid #d6cda4;
}

th, td {
    padding: 10px 15px;
    border: 1px solid #d6cda4;
    text-align: left;
}

th {
    background-color: #b59f7b;
    color: white;
    font-size: 18px;
}

td {
    font-size: 16px;
}

.combat-btn {
    background-color: #8c6239;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.combat-btn:hover {
    background-color: #7a541f;
}

.rewards-row {
    display: flex;
    justify-content: flex-start; /* Alignez les éléments au début du conteneur */
    gap: 10px; /* Espace entre les éléments */
    margin-bottom: 10px; /* Espace sous chaque rangée */
}

.progress-container {
    margin: 20px 0; /* Centrer la barre et ajouter un peu d'espace autour */
    background-color: #fff; /* Fond blanc de la barre */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Ombre légère pour du relief */
    overflow: hidden; /* Garantit que la barre interne reste dans les coins arrondis */
}

.progress-barr {
    height: 20px;
    background-color: #e4aa52; /* Couleur verte pour la barre de progression */
    width: 0%; /* Démarre à 0%, sera défini par le style inline */
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}

.exp-info {
    text-align: center;
    margin-left: 10px; /* Un peu d'espace au-dessus de la barre */
}

.quetes-container {
    max-height: 400px;
}

.quete {
    background-color: #fffbe6;
    border: 2px solid #d6cda4;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.progress-bar {
    height: 20px;
    background-color: #e4aa52 !important;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}

.progress-info {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

.quete-accomplie {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}