// Place all the styles related to the Register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url('bg_register_3.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'MedievalSharp', cursive;
    letter-spacing: 1px;
}

.container {
    width: 450px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.input{
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    height: 50px;
    font-size: 34px;
    color: white;
}

.input:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.input:focus{
    outline: 0;
}

label{
    font-size: 34px;
    color: white;
}

.form-container{
    margin-bottom: 15px;
}

input[type="submit"]{
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px;
    font-size: 28px;
    cursor: pointer;
    margin-top: 15px;
}

input[type="submit"]:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.volume_icon {
    width: 96px;
    height: 96px;
    margin-top: 15px;
    border-radius: 50%;
}

.status-volume{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}

.redirect{
    font-size: 34px;
    color: white;
    margin-top: 15px;
    text-decoration: underline;
    cursor: pointer;
}