<%= stylesheet_link_tag('register') %>

<div class="container menu">
    <img id="status-volume-on" src="/images/volume_on.png" class="volume_icon status-volume">
    <img id="status-volume-off" src="/images/volume_off.png" class="volume_icon status-volume">

    <%= form_with url: register_connexion_path do |form| %>

        <div class="form-container">
            <label for="name">Pseudo</label>
            <input type="text" name="name" id="name" class="input focus" required>
        </div>

        <div class="form-container">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" class="input focus">
        </div>

        <div class="flex justify-content">
            <input type="submit" name="commit" value="Se connecter" data-disable-with="Se connecter" id="hover">
        </div>
     <% end %>
     <div class="flex justify-content">
        <h1 id="redirect-register" class="redirect">Créer un compte</h1>
    </div>
</div>

<script type="text/javascript" src="/javascript/register.js">
</script>